<nav class="navbar">
  <a class="navbar--link" href="/about">
    About
  </a>
  <a class="navbar--link" href="/upload">
    Upload
  </a>
  <a class="navbar--link" href="/">
    Search
  </a>
</nav>