body {
  font-family: "Lato", sans-serif;
  margin-top: 100px;
  overflow-x: hidden;
}
* {
  font-family: inherit;
  box-sizing: border-box;
}
#searcher {
  width: 80%;
  padding: 15px;
  margin: 0 10%;
  font-size: 20px;
}

.doc-title {
  margin: 35px;
  text-align: center;
  display: block;
}

.doc-title > button {
  padding: 10px 24px;
}

.subclass {
  font-size: 12px;
  margin: 0;
}

.subtext-container {
  max-height: 50vh;
  overflow-y: hidden;

  overflow-wrap: break-word;
  font-family: "Roboto", sans-serif;
}

.overflown{
  cursor: pointer;
  opacity: 0.2;
  
  transition: opacity 250ms;
}

.overflown:hover{
  opacity: 1;
}

.subtext-container li{
  list-style-type: decimal;
  margin: 15px 0;
}

.subtext-container *{
  color: initial;
}

.subtext-container a{
  color: #5495ff;
  text-decoration: none;
  
  transition: color 250ms;
}

.subtext-container strong{
  font-weight: 400;
}

.subtext-container a:hover{
  color: #287aff;
  text-decoration: underline;
}

.subtext-container p{
  color: #ccc;
}

.subtext-wrapper {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.section-title {
  font-size: 25px;
  text-align: center;
}

.tag {
  line-height: 25px;
  padding: 0 20px;
  display: inline-block;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  background-color: #eee;
  margin: 20px;
  padding: 20px;
}
