.dz-message{
  font-size: 25px;
  font-weight: 300;
}

#dropzone{
  min-height: 50vh;
  width: 100%;
}

body{
  display: flex;
  flex-direction: column;
  
  padding: 0 100px 150px 100px;
  
  align-items: center;
}