<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/navbar %>
  <h1 class="doc-title">About</h1>
  <main class="tag" style="display: block; margin: 0 25%; font-size: 20px; line-height: 35px; font-family: 'Roboto', sans-serif; ">
    <strong>Description</strong>
    <p>
      Josuke is an <a href="https://opensource.org/licenses/MIT">open-source</a> project designed to make sifting through <a href="https://www.reddit.com/r/debatetrade/">/r/debatetrade/</a> prep a lot easier. 
      It uses advanced heuristics to automatically extract relevant blocks so you don't have to read them yourself.
    </p>
    <strong>Usage</strong>
    <p>
    First upload your files <a href="/upload">here</a>. Then go <a href="/">here</a> to create a new blockfile.
    </p>
    <strong>Security</strong>
    <p>
      We take security very seriously. All session information is <a href="https://en.wikipedia.org/wiki/HMAC">authenticated with a HMAC</a> ensuring that nobody except you will have access to your blockfiles. 
    </p>
  </main>
</body>