<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/navbar %>
  <input id="searcher" onkeypress="search(this)" placeholder="Enter tagline">
  <p id="loading">Loading... Please wait!</p>
  <main id="results"></main>
  <script src="index.js"></script>
</body>
