<head>
  <% include ../partials/head %>
  <script src="http://mynameismatthieu.com/WOW/dist/wow.min.js"></script>
  <link rel="stylesheet" href="animate.css">
  <script>
    new WOW().init();
  </script>
</head>
<body>
  <% include ../partials/navbar %>
  <input id="searcher" onkeypress="search(this)" placeholder="Enter tagline">
  <p id="loading">Loading... Please wait!</p>
  <main id="results"></main>
  <script src="index.js"></script>
</body>
