<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="dropzone.css">
  <script src="dropzone.js"></script>
  <link rel="stylesheet" href="upload.css">
</head>
<body>
  <% include ../partials/navbar %>
  <form id="dropzone" class="dropzone">
    <div class="dz-message">Drop file or folder to upload</div>
  </form>
  <script>
    var myDropzone = new Dropzone(
          "#dropzone",
          {
              url: "/api/upload", 
              paramName: "file"
          }
    );
  </script>
</body>
