<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="dropzone.css">
  <script src="dropzone.js"></script>
</head>
<body>
  <% include ../partials/navbar %>
  <h1 class="doc-title">Upload Files</h1>
  <form id="dropzone" class="dropzone"></form>
  <script>
    var myDropzone = new Dropzone(
          "#dropzone",
          {
              url: "/api/upload", 
              paramName: "file"
          }
    );
  </script>
  <p>After you've uploaded some cards, go back to <a href="/">the original page</a> to create a new blockfile.<p>
</body>
